<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>새글 쓰기</title>
    <script>
        function backToList(obj) {
            obj.action="{% url 'noticeboard:index' %}";
            obj.submit();
        }
    </script>
</head>
<body>
    <h1 style="text-align:center">새글 쓰기</h1>
    <form name="articleForm" method="post" action="{% url 'noticeboard:add_article' %}">  <!-- action -> 어디로 보낼건가 -->
                                                <!-- add_article로 내용이 전손됨 -->
        <!-- Django에서 만드시 해야하는 것 -> csrf = 내용을 가로채서 내용을 바꿔서 보내줌. -> 정보 원하는대로 보내줘서 해킹당함
        그래서 식별을 해줘야 함.
        장고에서 자기가 갖고있는 토큰을 보냄. 그래서 받을때, 이 토큰과 같은지 확인함.
        클라이언트에서 이 토큰을 어떻게 보내느냐. -> 다음을 쓰면 됨 -->
    {% csrf_token %}  <!-- form 제일 상단에, 반드시 얘를 써줄 것 -->
        <table boder="0" align="center">
            <tr>
                <td align="right">글제목:</td>
                <td colspan="2"><input type="text" size="71" maxlength="100" name="title" /></td>
                        <!-- 아까 models.py 에서 maxlength 100으로 했으니 100 넘으면 안됨 -->
            </tr>
            <tr>
                <td align="right" valign="top"><br>글내용:</td>
                <td colspan="2"><textarea name="content" rows="10" cols="65" maxlength="2000">
                </textarea></td>
            </tr>
            <tr>
                <td align="right"></td>
                <td colspan="2"><input type="submit" value="글쓰기"/>
                <input type="button" value="목록보기" onclick="backToList(this.form)"/></td>  <!-- 취소하고 목록으로 돌아가기 -->
            </tr>
        </table>
    </form>
</body>
</html>